body {
    margin      : 0;
    padding     : 0;
    font-family : 'Lato', sans-serif;
    color : #808080;
    background-color : #F6F4F1!important;
}

.as {
    color     : #900;
    font-size : 14px;
}

.cs {
    color     : #009;
    font-size : 14px;
}

.ts {
    font-size   : 16px;
    font-weight : bold;
}

.as a:link {
    color           : #900;
    text-decoration : none;
}

.as a:visited {
    color           : #900;
    text-decoration : none;
}

.as a:hover {
    color           : #F00;
    text-decoration : underline;
}

.as a:active {
    color           : #900;
    text-decoration : none;
}

.ts a:link {
    color           : #333;
    text-decoration : none;
}

.ts a:visited {
    color           : #333;
    text-decoration : none;
}

.ts a:hover {
    color           : #000;
    text-decoration : underline;
}

.ts a:active {
    color           : #333;
    text-decoration : none;
}

.cs a:link {
    color           : #009;
    text-decoration : none;
}

.cs a:visited {
    color           : #009;
    text-decoration : none;
}

.cs a:hover {
    color           : #00F;
    text-decoration : underline;
}

.cs a:active {
    color           : #009;
    text-decoration : none;
}

.ds {
    margin-right : 10px;
    color        : #090;
    font-size    : 14px;
}

.ds2 {
    margin-right : 10px;
    color        : #099;
    font-size    : 14px;
}

.ccs {
    color     : #000;
    font-size : 12px;
}

.spid {
    color     : #555;
    font-size : 14px;
}

h1 {
    margin    : 0;
    padding   : 0;
    font-size : 20px;
}

.w {
    color           : #050;
    text-decoration : underline;
    cursor          : pointer;
}

.paperdivider {
    margin-top       : 10px;
    margin-bottom    : 10px;
    padding          : 10px;
    color            : #005;
    border-top       : 1px solid #CCD;
    border-bottom    : 1px solid #CCD;
    background-color : #EEF;
}

#flashesdiv {
    width        : 1000px;
    margin-right : auto;
    margin-left  : auto;
    font-size    : 16px;
}

ul.flashes {
    margin-bottom : 0;
    padding       : 0;
    list-style    : none;
}

ul.flashes li {
    padding               : 10px;
    color                 : #3c763d !important;
    -moz-border-radius    : 2px;
    -webkit-border-radius : 2px;
    background            : #dff0d8;
}

#recommend-time-choice {
    background-color : #FFF;
    text-align       : center;
}

#recommend-time-choice a:link {
    color           : #338;
    text-decoration : none;
}

#recommend-time-choice a:visited {
    color           : #338;
    text-decoration : none;
}

#recommend-time-choice a:hover {
    color           : #338;
    text-decoration : none;
}

#recommend-time-choice a:active {
    color           : #338;
    text-decoration : none;
}

.timechoice {
    display          : inline-block;
    margin-right     : 5px;
    margin-bottom    : 10px;
    padding          : 10px;
    border-radius    : 5px;
    background-color : #EEE;
}

.timechoice-selected {
    color            : #fff;
    background-color : #293a59;
}

.vchoice {
    display          : inline-block;
    padding          : 10px;
    border-radius    : 5px;
    background-color : #EEE;
}

.vchoice-selected {
    color            : #fff;
    background-color : #293a59;
}

.card-title {
    padding : 20px;
}

.paper-image img {
    max-width : 90%;
}

.card-content {
    color : #5b5b5b;
}

.divider {
    margin : 15px 0;
}

.fdivider {
<<<<<<< HEAD
    display: inline-block;
    padding: 0 5px;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #808080;
}

body {
    background-color: #F6F4F1!important;
=======
    display : inline-block;
    padding : 0 5px;
>>>>>>> e6e53ceba2bc4d95f05c80665da03bc5f45f60b4
}

a {
    color : #4d6a69!important;
}

a:hover {
    color : #293a59!important;
}

.btn {
    margin : 2px;
}

.btn,
.btn-large {
    color            : #4d6a69 !important;
    background-color : #eee!important;
}

.btn-large:hover,
.btn:hover {
    color            : #fff !important;
    background-color : #293a59!important;
}

.brand-logo {
    color: #846C63 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em !important;
}

nav ul a:hover {
    color            : #fff!important;
    background-color : #293a59;
}

nav.white .breadcrumb:before {
    color : inherit !important;
}

nav .brand-logo,
nav ul a {
    color : #444;
}

p {
    line-height : 2rem;
}

#sidenav-overlay {
    z-index : 996;
}

/* MOBILE */

@media only screen
       and (max-width : 600px) {
    .container {
        padding : 0 0rem;
    }

    ul.side-nav a {
        text-transform : uppercase;
        font-size      : 21px;
    }

    .brand-logo {
        font-size : 1.3em !important;
    }
}

#end > div {
    padding : 20px;
}

strong {
    font-weight: bold;
}

#raw_text {
    background-color: #f6f6f6;
    border: none;
    height: 300px;
    padding: 20px;
}

#complied_md{
    background-color: #ededed;
    height: 300px;
    overflow: scroll;
    padding: 20px;
}

#complied_md > p {
    padding-top: 0;
}

.note {
    background-color: #ededed;
    padding: 20px;
}

.note > p {
    padding-top: 0;
}
