body {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.as {
    font-size: 14px;
    color: #900;
}

.cs {
    color: #009;
    font-size: 14px;
}

.ts {
    font-weight: bold;
    font-size: 16px;
}

.as a:link {
    text-decoration: none;
    color: #900;
}

.as a:visited {
    text-decoration: none;
    color: #900;
}

.as a:hover {
    text-decoration: underline;
    color: #F00;
}

.as a:active {
    text-decoration: none;
    color: #900;
}

.ts a:link {
    text-decoration: none;
    color: #333;
}

.ts a:visited {
    text-decoration: none;
    color: #333;
}

.ts a:hover {
    text-decoration: underline;
    color: #000;
}

.ts a:active {
    text-decoration: none;
    color: #333;
}

.cs a:link {
    text-decoration: none;
    color: #009;
}

.cs a:visited {
    text-decoration: none;
    color: #009;
}

.cs a:hover {
    text-decoration: underline;
    color: #00F;
}

.cs a:active {
    text-decoration: none;
    color: #009;
}

.ds {
    margin-right: 10px;
    color: #090;
    font-size: 14px;
}

.ds2 {
    margin-right: 10px;
    color: #099;
    font-size: 14px;
}

.ccs {
    color: #000;
    font-size: 12px;
}

.spid {
    font-size: 14px;
    color: #555;
}

h1 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.w {
    color: #050;
    cursor: pointer;
    text-decoration: underline;
}

.paperdivider {
    background-color: #EEF;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCD;
    border-top: 1px solid #CCD;
    color: #005;
}

#flashesdiv {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

ul.flashes {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

ul.flashes li {
    background: #dff0d8;
    color: #3c763d !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px;
}

#recommend-time-choice {
    background-color: #FFF;
    text-align: center;
}

#recommend-time-choice a:link {
    text-decoration: none;
    color: #338;
}

#recommend-time-choice a:visited {
    text-decoration: none;
    color: #338;
}

#recommend-time-choice a:hover {
    text-decoration: none;
    color: #338;
}

#recommend-time-choice a:active {
    text-decoration: none;
    color: #338;
}

.timechoice {
    display: inline-block;
    background-color: #EEE;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.timechoice-selected {
    background-color: #293a59;
    color: #fff;
}

.vchoice {
    display: inline-block;
    background-color: #EEE;
    padding: 10px;
    border-radius: 5px;
}

.vchoice-selected {
    background-color: #293a59;
    color: #fff;
}

.card-title {
    padding: 20px;
}

.paper-image img {
    max-width: 90%;
}

.card-content {
    color: #5b5b5b;
}

.divider {
    margin: 15px 0;
}

.fdivider {
    display: inline-block;
    padding: 0 5px;
}

body, html {
    font-family: 'Abel', sans-serif;
    color: #808080;
}

body {
    background-color: #F6F4F1!important;
}

a {
    color: #4d6a69!important;
}

a:hover {
    color: #293a59!important;
}

.btn {
    margin: 2px;
}

.btn, .btn-large {
    background-color: #eee!important;
    color: #4d6a69 !important;
}

.btn:hover, .btn-large:hover {
    background-color: #293a59!important;
    color: #fff !important;
}


.brand-logo {
    color: #846C63 !important;
    font-family: 'Abel', sans-serif;
    left: 50px;
}

nav ul a:hover {
    background-color: #293a59;
    color: #fff!important;
}

nav.white .breadcrumb:before {
    color: inherit !important;
}


/* MOBILE */

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 0rem;
    }
    ul.side-nav a {
        font-size: 21px;
        text-transform: uppercase;
    }
}

nav ul a, nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}
